@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Slate 900 untuk teks */
  --foreground-rgb: 15, 23, 42; 
  /* Off-White untuk background */
  --background-rgb: 250, 250, 250; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden; /* Mencegah scroll horizontal jika animasi keluar layar */
}

/* Custom Scrollbar Halus */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Utilitas untuk menyembunyikan scrollbar tapi tetap bisa scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}